<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<body layout:fragment="content">
    <style type="text/css">
    </style>

    <p class="text-center msg" th:text="${welcome}"/>

    <form>
        <div class="d-flex gap-2 justify-content-center">
            <button type="button" class="btn btn-outline-primary" onclick="callAjax('Get');">SELECT</button>
            <button type="button" class="btn btn-outline-success" onclick="callAjax('Post');">SAVE</button>
            <button type="button" class="btn btn-outline-warning" onclick="callAjax('Put')">UPDATE</button>
            <button type="button" class="btn btn-outline-danger" onclick="callAjax('Delete')">DELETE</button>
        </div>
    </form>

    <script type="text/javascript">
        function callAjax(step) {
            event.preventDefault();

            let uri = '/rest/do' + step;

            ajax(step.toUpperCase(), uri, JSON.stringify(getParams()), showMsg);
        }

        function showMsg(arg) {
            document.getElementsByClassName('msg')[0].innerHTML = arg;
        }
    </script>
</body>
</html>